@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    margin: 0px;

    box-sizing: border-box;
    font-family: 'Cinzel', serif;
}


p {
    margin: 10px;

}

.heading h1 {
    background-color:  #6eb890;
    width: 100%;
    text-align: center;
    padding: 30px;
    color: #ffffff;
    font-size: 44px;
    padding: 30px;
}
.grid-container{
    margin-top: 3%;
    display: grid;
    height:60%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: 15% 85%;
    grid-gap: 20px;
    grid-template-areas: 
    "a a   b "
    "c c   d "
    ;
}
.header-one{
    background-color: #6eb890;
    grid-area: a;
    padding: 30px;
   text-align: center;
}
.header-two{
    background-color: #6eb890;
    grid-area: b;
    padding: 10px;
    text-align: center;
}
.image-content{
    background-color: rgb(0, 255, 76);
    grid-area: c;
}

.footer-three{
    
    grid-area: d;
}
p{
    font-size: 14px;
}
